extends layout

block content

    form(method='post' action='/public/uploads' enctype='multipart/form-data')
        input(name='myFile' type='file')
        input(type='submit')  
    div#photos
        if items.length
            each item in items
                img(src= './uploads/' + item, height='100px')
        else 
            h3 No Photos to Display

    script(type='text/javascript' src='main.js')
